.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  background-color: white;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
